.a-link
{
	text-decoration : none;
	cursor          : pointer;

	&:hover,
	&:focus
	{
		text-decoration : underline;
	}

	&-reverse
	{
		text-decoration : underline;

		&:hover,
		&:focus
		{
			text-decoration : none;
		}
	}

	&-disabled
	{
		cursor          : default;
		text-decoration : none !important;
	}
}

.inline-block
{
	.inline-block();
}

.helper-padding
{
	@paddingBox-null: 0px;
	@paddingBox-extra_small: 5px;
	@paddingBox-small: 10px;
	@paddingBox-medium: 15px;
	@paddingBox-base: 20px;
	@paddingBox-large: 25px;

	@types: null extra_small small medium base large;

	.generator(@types, @i: 1) when (@i <= length(@types))
	{
		@type: extract(@types, @i);
		@variable: "paddingBox-@{type}";

		&-x-@{type}
		{
			padding-left  : @@variable;
			padding-right : @@variable;
		}

		&-y-@{type}
		{
			padding-top    : @@variable;
			padding-bottom : @@variable;
		}

		&-xy-@{type}
		{
			padding : @@variable;
		}

		.generator(@types, @i + 1);
	}

	.generator(@types);

	&_canceller
	{
		.generatorCanceller(@types, @i: 1) when (@i <= length(@types))
		{
			@type: extract(@types, @i);
			@variable: "paddingBox-@{type}";

			&-x-@{type}
			{
				margin-left  : -@@variable;
				margin-right : -@@variable;
			}

			&-y-@{type}
			{
				margin-top    : -@@variable;
				margin-bottom : -@@variable;
			}

			&-xy-@{type}
			{
				margin : -@@variable;
			}

			.generatorCanceller(@types, @i + 1);
		}

		.generatorCanceller(@types);
	}
}


.helper-relativeParent
{
	position : relative;
}
