@import "variables";
@import "mixins";
@import "typography";
@import "helpers";
@import "sprite";

.icon
{
	display:        inline-block;
	*display:       inline;
	*zoom:          1;
	vertical-align: middle;
	.sprites(@spritesheet-sprites);
}
