/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-access-code-name: icon-access-code;
@icon-access-code-x: 0px;
@icon-access-code-y: 0px;
@icon-access-code-offset-x: 0px;
@icon-access-code-offset-y: 0px;
@icon-access-code-width: 175px;
@icon-access-code-height: 78px;
@icon-access-code-total-width: 175px;
@icon-access-code-total-height: 886px;
@icon-access-code-image: '../i/bg/sprite.png';
@icon-access-code: 0px 0px 0px 0px 175px 78px 175px 886px '../i/bg/sprite.png' icon-access-code;
@icon-add-employee-name: icon-add-employee;
@icon-add-employee-x: 0px;
@icon-add-employee-y: 167px;
@icon-add-employee-offset-x: 0px;
@icon-add-employee-offset-y: -167px;
@icon-add-employee-width: 138px;
@icon-add-employee-height: 96px;
@icon-add-employee-total-width: 175px;
@icon-add-employee-total-height: 886px;
@icon-add-employee-image: '../i/bg/sprite.png';
@icon-add-employee: 0px 167px 0px -167px 138px 96px 175px 886px '../i/bg/sprite.png' icon-add-employee;
@icon-apps-name: icon-apps;
@icon-apps-x: 0px;
@icon-apps-y: 360px;
@icon-apps-offset-x: 0px;
@icon-apps-offset-y: -360px;
@icon-apps-width: 141px;
@icon-apps-height: 115px;
@icon-apps-total-width: 175px;
@icon-apps-total-height: 886px;
@icon-apps-image: '../i/bg/sprite.png';
@icon-apps: 0px 360px 0px -360px 141px 115px 175px 886px '../i/bg/sprite.png' icon-apps;
@icon-cloud-name: icon-cloud;
@icon-cloud-x: 0px;
@icon-cloud-y: 263px;
@icon-cloud-offset-x: 0px;
@icon-cloud-offset-y: -263px;
@icon-cloud-width: 147px;
@icon-cloud-height: 97px;
@icon-cloud-total-width: 175px;
@icon-cloud-total-height: 886px;
@icon-cloud-image: '../i/bg/sprite.png';
@icon-cloud: 0px 263px 0px -263px 147px 97px 175px 886px '../i/bg/sprite.png' icon-cloud;
@icon-employee-name: icon-employee;
@icon-employee-x: 0px;
@icon-employee-y: 475px;
@icon-employee-offset-x: 0px;
@icon-employee-offset-y: -475px;
@icon-employee-width: 130px;
@icon-employee-height: 137px;
@icon-employee-total-width: 175px;
@icon-employee-total-height: 886px;
@icon-employee-image: '../i/bg/sprite.png';
@icon-employee: 0px 475px 0px -475px 130px 137px 175px 886px '../i/bg/sprite.png' icon-employee;
@icon-form-register-name: icon-form-register;
@icon-form-register-x: 0px;
@icon-form-register-y: 78px;
@icon-form-register-offset-x: 0px;
@icon-form-register-offset-y: -78px;
@icon-form-register-width: 131px;
@icon-form-register-height: 89px;
@icon-form-register-total-width: 175px;
@icon-form-register-total-height: 886px;
@icon-form-register-image: '../i/bg/sprite.png';
@icon-form-register: 0px 78px 0px -78px 131px 89px 175px 886px '../i/bg/sprite.png' icon-form-register;
@icon-schedule-name: icon-schedule;
@icon-schedule-x: 0px;
@icon-schedule-y: 612px;
@icon-schedule-offset-x: 0px;
@icon-schedule-offset-y: -612px;
@icon-schedule-width: 147px;
@icon-schedule-height: 137px;
@icon-schedule-total-width: 175px;
@icon-schedule-total-height: 886px;
@icon-schedule-image: '../i/bg/sprite.png';
@icon-schedule: 0px 612px 0px -612px 147px 137px 175px 886px '../i/bg/sprite.png' icon-schedule;
@icon-wallet-name: icon-wallet;
@icon-wallet-x: 0px;
@icon-wallet-y: 749px;
@icon-wallet-offset-x: 0px;
@icon-wallet-offset-y: -749px;
@icon-wallet-width: 147px;
@icon-wallet-height: 137px;
@icon-wallet-total-width: 175px;
@icon-wallet-total-height: 886px;
@icon-wallet-image: '../i/bg/sprite.png';
@icon-wallet: 0px 749px 0px -749px 147px 137px 175px 886px '../i/bg/sprite.png' icon-wallet;
@spritesheet-width: 175px;
@spritesheet-height: 886px;
@spritesheet-image: '../i/bg/sprite.png';
@spritesheet-sprites: @icon-access-code @icon-add-employee @icon-apps @icon-cloud @icon-employee @icon-form-register @icon-schedule @icon-wallet;
@spritesheet: 175px 886px '../i/bg/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  &.@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
