@imgPath: '../i/bg';
@font-family-base: 'Roboto', Arial, Helvetica, sans-serif;
@font-family-bold: 'RobotoBold', 'Roboto', Arial, Helvetica, sans-serif;

@border-radius-small: 3px;
@border-radius-base: 4px;
@border-radius-large: 6px;

@brand-primary: #2EA97D;
@brand-success: #33A941;
@brand-info: #949494;
@brand-warning: #F2C400;
@brand-danger: #F47B7A;
@brand-gray: #F6F6F6;
@brand-silver: #E8E8E8;

@primary-color: @brand-primary;
@link-color: @brand-primary;
